#log_pad{
    background-color:#222727;
    padding:90px;
    border-radius: 10px;
    

}
#log_hij{
    background-color:rgb(66, 66, 65);
    padding:20px;
    color: goldenrod;
   
    border-radius: 10px;
}

.form-control input-sm chat-input{
    border-bottom-right-radius: 10px;
    border-bottom-color: aqua;
    color:darkcyan;
}
.principal{
    padding: 10px;
   margin: 10px;
}
.padre{
    padding: 5px;
    margin: 40px;
    background-color: rgb(109, 20, 27);
    border-radius: 30px;

}
#todo{
    background-color: gray;
    margin: 80px;
    border-radius: 30px;
    
}
label,td{
    color:white
}
th{
    color: goldenrod;
}